.idea/
cmake-build-*/

# cmake gitignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# executables
testtools/cpputest/libCppUTest.a
testtools/cpputestext/libCppUTestExt.a
*.exe
DartConfiguration.tcl
build/