.idea/
cmake-build-*/
CMakeCache.txt
CMakeFiles/*
testtools/*
src/CMakeFiles/*
tests/pythagorean_ut/CMakeFiles/*

# ignore executable
src/cpputest_example_pythagorean.exe
tests/pythagorean_ut/pythagorean_ut.exe


CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
DartConfiguration.tcl
